<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Garden</title>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&family=Share+Tech+Mono&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="chat.css">
</head>

<body>
  <img id="logo" src="logo.png">
  <main class="flex-column-center">
    <div class="text-center m-1">
      <h2 id="topic">Vox Populi</h2>
      <div id="info">
        <p class="mono">!ask your message here</p>
        <p class="mono">!idea your message here</p>
        <p class="mono">!submit your message here</p>
        <p class="mono">!upvote #number</p>
        <p class="mono">!comment #number your comment here</p>
      </div>
    </div>
    <div id="messages" class="chat" style="display:none">
      <div class="tabs">
        <a class="button" @click="selectedTab = 'questions'"
          :class="{ active: selectedTab === 'questions' }">Questions ({{all.questions.length}})</a>
        <a class="button" @click="selectedTab = 'ideas'" :class="{ active: selectedTab === 'ideas' }">Ideas ({{all.ideas.length}})</a>
        <a class="button" @click="selectedTab = 'submissions'"
          :class="{ active: selectedTab === 'submissions' }">Submissions ({{all.submissions.length}})</a>
      </div>
      <transition-group @after-enter="scrollIntoView" class="messages" name="messages" tag="div">
        <div class="message messages-item" v-for="message in sortedItems" :key="message.id">
          <h1 :id="`num-${message.num}`" class="q-number"><a class="anchor" :href="`#num-${message.num}`">#{{message.num}}</a></h1>
          <div class="contents">
            <div v-if="isAdmin" class="button delete-button" @click="archive(message)">
              <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2"></polygon>
                <line x1="15" y1="9" x2="9" y2="15"></line>
                <line x1="9" y1="9" x2="15" y2="15"></line>
              </svg>
            </div>
            <span class="author" :class="{
                  moderator: message.badges.moderator,
                  member: message.subscriber,
                }">
              <span class="name">{{message.display_name}}</span>
              <div class="avatar">
                <span class="member-badge" v-if="message.subscriber">
                  <img src="https://qna.coding.garden/logo.png" />
                </span>
              </div>
            </span>
            <span class="content" v-html="message.sanitized"></span>
            <span class="content" v-if="message.showSource">
              <textarea rows="3" disabled>{{message.message}}</textarea>
            </span>
            <div class="bottom-bar m-1">
              <div>
                <div v-if="message.upvotes.length" class="author voters">
                  <strong>{{message.upvotes.length}} Upvotes:</strong>
                  <div class="avatar" v-for="voter in message.upvotes">
                    <span class="voter">{{voter}}</span>
                  </div>
                </div>
              </div>
              <small class="time-sent">{{message.timesent}}</small>
            </div>
            <transition-group class="messages" name="messages" tag="div" v-if="message.comments.length">
              <div class="message messages-item reply" v-for="message in message.comments" :key="message.id">
                <div class="contents">
                  <div v-if="isAdmin" class="button delete-button" @click="archive(message)">
                    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none"
                      stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1">
                      <polygon points="7.86 2 16.14 2 22 7.86 22 16.14 16.14 22 7.86 22 2 16.14 2 7.86 7.86 2">
                      </polygon>
                      <line x1="15" y1="9" x2="9" y2="15"></line>
                      <line x1="9" y1="9" x2="15" y2="15"></line>
                    </svg>
                  </div>
                  <span class="author" :class="{
                        moderator: message.badges.moderator,
                        member: message.subscriber,
                      }">
                    <span class="name">{{message.display_name}}</span>
                    <div class="avatar">
                      <span class="member-badge" v-if="message.subscriber">
                        <img src="https://qna.coding.garden/logo.png" />
                      </span>
                    </div>
                  </span>
                  <span class="content" v-html="message.sanitized"></span>
                  <span class="content" v-if="message.showSource">
                    <textarea rows="3" disabled>{{message.message}}</textarea>
                  </span>
                  <div class="bottom-bar">
                    <div>
                    </div>
                    <small class="time-sent">{{message.timesent}}</small>
                  </div>
                </div>
              </div>
            </transition-group>
          </div>
        </div>
      </transition-group>
    </div>
  </main>
  <script src="chat.js"></script>
</body>

</html>